<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stepguide.backend.domain.user.mapper.UserMapper">

    <select id="findIdByProviderAndProviderId" parameterType="map" resultType="java.lang.Long">
        SELECT user_id
        FROM users
        WHERE provider = #{provider}
          AND provider_id = #{providerId}
            LIMIT 1
    </select>

    <insert id="insertUser" parameterType="com.stepguide.backend.domain.user.dto.UserDTO"
            useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users
        (username, email, phone_number, birth_date, created_at, updated_at, provider, provider_id)
        VALUES
            (#{username},
             #{email},
             #{phoneNumber},
             #{birthDate,jdbcType=DATE},
             NOW(),
             NOW(),
             #{provider},
             #{providerId})
    </insert>

    <select id="findUsernameById" resultType="String">
        SELECT username
        FROM users
        WHERE user_id = #{userId}
    </select>
</mapper>